/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#contactoh1{
    margin-top: 15rem;
}#contacto{
    width: 100%;
    margin-bottom: 4rem;
}
#form-division{
    display: flex;
   justify-content: space-between;
   width: 100%;
}

/*Form*/
form p{
    width: 15rem;
    font-size: 1rem;
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    min-width: 20vw;
    background-color: #6b686d86;
    padding: 1rem 3rem 1rem 2rem;
    font-family: "Montserrat";
    border-radius: 3px;
}
form input{
    width: 100%;
}
form label{
    margin-top: 1rem
}
form textarea{
    width: 100%;
}
#submit{
    align-self: flex-end;
    margin-top: 1rem;
    width: fit-content;
}


/*Second Column*/
#secondColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#secondColumn div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6b686d3a;
    padding: 2rem 0rem;
    width: 100%;
}

/*Map*/
#mapBox{
    height: 15rem;
    width: 40vw;
    margin-bottom: 3rem;
}


#contactInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
    height: min-content;
}
#contactInfo hr{
    height: 3rem;
    border: var(--grey-color) 1px solid;
}
#contactInfo p{
    margin: 0;
}

/*Phone*/
#phoneInfo{
    text-align: right;
    font-size: 1.5rem;
}
#internos{
    font-size: 1rem;
}
#celulares{
    font-size: 1.5rem;
    margin-bottom: 0;
}
em{
    font-weight: 600;
    font-style: normal;
}

@media (max-width: 999px){
    #contacto{
        margin-bottom: 2rem;
    }
    #contactoh1{
        margin-top: 10rem;
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }
    #form-division{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        margin: auto;
    }
    #mapBox{
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #phoneInfo{
        font-size: 1rem;
    }
    #phoneIcon{
        display: none;
    }
    #internos{
        font-size: 0.5rem;
    }
    #celulares{
        font-size: 1rem;
    }
    #contactInfo hr{
        height: 1.5rem;
    }

}