/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#contactoh1{
    margin-top: 15rem;
}
#form-division{
    display: flex;
}

/*Form*/
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}
form label{
    margin-top: 1rem
}
#submit{
    align-self: flex-end;
    margin-top: 1rem;
}

/*Map*/
#mapBox{
    height: 10rem;
    width: 20rem;
}

#contactInfo{
    display: flex;
    justify-content: center;
}
