footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/header-img-big.png");
    background-size: cover;
    padding: 0 2rem;
}

/* Logo */
#footerlogo{
    margin: 0;
    display: flex;
    align-items: center;
}
#footerlogo h2{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    color: #5c3d70;
}
#footerlogo img{
    height: 1rem;
    align-self: center;
    justify-self: center;
    margin-right: 0.5rem;
}

/* Location */
#locationText img{
    height: 1rem;
}
#locationText a{
    color: #5c3d70;
    font-size: 1rem;
    font-weight: 600;
}

/* Social images */
#footer-social{
    margin: 0.5rem;
}
#footer-social a img{
    height: 2rem;
    margin:0.2rem;
}

@media (max-width: 999px){
    footer{
        padding: 0 0.5rem;
    }
    #footerlogo img{
        height: 0.4rem;
    }
    #footerlogo h2{
        font-size: 0.4rem;
    }
    #locationText{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #locationText img{
        height: 0.4rem;
    }
    #locationText a{
        font-size: 0.4rem;
        align-self: center;
        text-decoration: none;
    }
    #footer-social{
        display: flex;
    }
    #footer-social a img{
        height: 0.7rem;
    }
}