#impuestosh1{
    margin-top: 16rem;
    font-size: 2.5rem;
}
#listaImpuestos{
    margin-top: 0;
    padding: 1.5rem 5rem;
    padding-top: 0;
    padding-left: 0;
    list-style: none;
}
#listaImpuestos li{
font-size: 1.2rem;
font-family: "Montserrat";
}