@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');

h1,h2,h3,p,button{
    font-family: "Montserrat";
}
.grey{
    color: var(--grey-color)
}
body{
    position: relative;
    background-color: #fbfcf8;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10rem;
}
.fondo-claro{
    background-color: #5c3d704d;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem 10rem;
}
.titulo{
    font-size: 3.5rem;
    text-align: left;
    font-weight: 650;
    color: var(--grey-color);
    margin-left: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-self: flex-start;
}

/* Whatsapp globo */
#wpp-section{
    position: absolute;
    display: flex;
    right: 0px;
}
#wpp-float{
    justify-self: flex-end;
    height: fit-content;
    width: max-content;
    /* background-color: #25d366; */
    background-color: #4CAF50;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 50px 50px 50px 50px;
    position: fixed;
    top: 75vh;
    right: 0px;
    margin-right: 1rem;
    transition: all 0.2s;
    z-index: 99;
}
#wpp-float:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.178);
    cursor: pointer;
}
#wpp-float a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
    font-weight: 600;
}
#wpp-float a img{
    height: 1.5rem;
    margin-right: 0.5rem;
}

/* Primera seccion */
.titulo-g{
    color: var(--grey-color);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
    margin: 0;
    margin-top: 3rem;
}
#first-title-div{
    margin-top: 13rem;
    display: flex;
    flex-direction: column;
}
#first-title-div hr{
    width: 9vw;
    height: 1px;
    background: var(--violet-color);
    margin: 3rem auto 0rem auto;
}
#first-title-div p{
    padding: 0 10vw;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1.5rem 0;
    margin-bottom: 2rem;
}
.contact-button{
    align-self: center;
    border-color: transparent;
    background-color: #d4cccb;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.6s;
    cursor: pointer;
    height: 2rem;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}
.contact-button:hover{
    border: 1px solid black;
    border-radius: 2rem;
    background-color: transparent;
}
.contact-button-dark{
    align-self: center;
    border-color: transparent;
    background-color: #d4cccb;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.6s;
    cursor: pointer;
    height: 2rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-button-dark:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 2rem;
}

/* Second div */
#conozcaServicios{
    font-size: 3rem;
}

.title3Margin{
    margin: 3rem auto;
}

#second-div-inicio{
    display: flex;
    max-width: 100vw;
    align-items: start;
    justify-content: center;
}
#second-div-inicio section{
    width: min-content;
    margin: 0 5vw;
}
#second-div-inicio section:hover{
    cursor: pointer;
}
#second-div-inicio section a{
    text-decoration: none;
    color: black;
}
#second-div-inicio section a img{
    width: 20vw;
    aspect-ratio: 5/4;
    object-fit: cover;
    filter: grayscale(50%);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.178);
}
#second-div-inicio section a img:hover{
    filter: grayscale(0%);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.178);
    transition: all 0.3s;
}
#second-div-inicio section a h3{
    font-size: 2rem;
    margin: 0;
    color: var(--grey-color);
}
#second-div-inicio section a p{
    margin: 0;
    font-weight: 500;
    font-family: "PT Serif";
}

/* Third div */
#third-div-inicio{
    background-color: #6b686dec;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    padding: 3rem 10rem;
}
#third-div-inicio img{
    width: 30vw;
    margin: 0;
    margin-bottom: 0;
}
#third-div-inicio h3{
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    color: #fdfdfd;
}
#third-div-inicio p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fdfdfd;
    text-align: center;
    font-family: "Montserrat";
    padding: 0 4rem;
}

/*Imagen nosotros*/
#nosotros-imagen{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
#nosotros-imagen img{
    aspect-ratio: 4/1;
    object-fit: cover;
    width: 70vw;
    filter: grayscale(0.3);
    margin-bottom: 0;
}
#nosotros-imagen section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1fr;
    margin: auto;
    margin-bottom: 2rem;
}
#nosotros-imagen section hr{
    margin: auto 2rem;
    height: 2rem;
    border: 1px solid var(--grey-color);
}
#nosotros-imagen h2{
    font-size: 2rem;
    text-align: center;
    color: var(--grey-color);
}
#nosotros-imagen section h3{
    font-size: 2rem;
    text-align: center;
    color: var(--grey-color);
    margin: 0;
}
#nosotros-imagen button{
    background-color: black;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
}
#nosotros-imagen button:hover{
    color: black;
    background-color: transparent;
}

@media (max-width: 999px){
    main{
        padding: 0;
    }
    #wpp-float a p{
        display: none;
    }
    #wpp-float a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #wpp-float{
        padding: 0;
        width: min-content;
    }
    #wpp-float a img{
        margin: 0.3rem;
    }

    .titulo-g{
        font-size: 2rem;
    }

    #first-title-div{
        margin-top: 10rem;
    }
    #first-title-div p{
        padding: 0;
        font-size: 1rem;
    }

    #conozcaServicios{
        font-size: 2rem;
        margin: auto;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #second-div-inicio{
        display: flex;
        flex-direction: column;    
        align-items: center;
        width: 100%;
    }
    #second-div-inicio section{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 1.5rem;
        width: fit-content;
        padding: 0 1rem;

    }
    #second-div-inicio section a{
        text-decoration: none;
    }
    #second-div-inicio section a img{
        width: 100%;
        aspect-ratio: 3/1;
        margin-bottom: 0.5rem;
    }


    #third-div-inicio{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 0;
    }
    #third-div-inicio img{
        width: 80vw;
        aspect-ratio: 3/1;
    }
    #third-div-inicio p{
        padding: 0 1rem;
    }


    #nosotros-imagen h2{
        font-size: 1.5rem;
    }
    #nosotros-imagen section h3{
        font-size: 1rem;
    }
    #nosotros-imagen section hr{
        height: 1rem;
        margin: 0 1rem;
    }
}
