main{
    display: flex;
    flex-direction: column;
}
#servicios-principal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    border-left: 2px solid var(--violet-color);
    align-self: flex-start;
    margin-bottom: 2rem;
}
#serviciosh1{
    margin-top: 16rem;
}
#servicios-principal a{
    text-decoration: none;
    color: black;
}
#servicios-principal a:visited{
    color: inherit; 
    text-decoration: none; 
}
#servicios-principal section{
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    margin-bottom: 2rem;
    width: 70vw;
}
#servicios-principal section img{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 2rem;
    justify-self: center;
    align-self: center;
    opacity: 0.5;
}
#servicios-principal section h2{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 2rem;
    margin: 0;
    margin-left: 1rem;
    color: var(--grey-color);
}
#servicios-principal section p{
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 1rem;
    margin: 0;
    font-family: "PT Serif";
}
hr{
    border: 1px solid var(--grey-color);
    width: 10rem;
}
.servicios-secundario{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.servicios-secundario section p{
    font-family: "PT Serif";
}
.servicios-secundario section{
    flex: 1;
}
button{
    margin-bottom: 3rem;
}
#botones-servicio{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
#botones-servicio a{
    margin: 2rem 4rem;
}

/*Sub paginas*/
.servicio-detalle{
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width:999px){
    #otros-servicios{
        display: none;
    }
    .no-mostrar-display-celular{
        display: none;
    }
    #serviciosh1{
        margin-left: 1rem;
        margin-top: 10rem;
        font-size: 2rem;
    }
    #servicios-principal{
        margin: 0 1rem;
    }
    #servicios-principal section h2{
        font-size: 2rem;
    }
    #servicios-principal section img{
        width: 2rem;
    }
    #servicios-principal section p{
        font-size: 1rem;
    }
    #servicios-principal section{
        margin-bottom: 1rem;
    }

    .fondo-claro{
        padding: 0;
    }
    .servicios-secundario{
        padding: 1rem;
        display: none;
    }
    .servicios-secundario section h3{
        font-size: 1rem;
        display: none;
    }
    .servicios-secundario section p{
    font-size: 0.8rem;
    margin: 0 0.5rem;
    display: none;
    }
    hr{
        display: none;
    }

}